<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
</head>
<body>
    <h2>Giriş Yap</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Şifre" required><br><br>
        <button type="submit">Giriş Yap</button>
    </form>

    <p>Hesabın yok mu? <a href="{% url 'register' %}">Kayıt Ol</a></p>
</body>
</html>